# Laboratorium 5 - rekomendacje grupowe

## Przygotowanie

 * pobierz i wypakuj dataset: https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
   * więcej możesz poczytać tutaj: https://grouplens.org/datasets/movielens/
 * [opcjonalnie] Utwórz wirtualne środowisko
 `python3 -m venv ./recsyslab5`
 * zainstaluj potrzebne biblioteki:
 `pip install numpy pandas matplotlib`

## Część 1. - przygotowanie danych

In [1]:
# importujemy wszystkie potrzebne pakiety
from tabulate import tabulate
import math
import numpy as np
import pandas

from random import choice, sample
from statistics import mean, stdev

from reco_utils import *

In [2]:
# wczytujemy oceny uytkownikow i obliczamy (za pomocą collaborative filtering) wszystkie przewidywane oceny filmow

raw_ratings = pandas.read_csv('../ml-latest-small/ratings.csv').drop(columns=['timestamp'])
movies = list(raw_ratings['movieId'].unique())
users = list(raw_ratings['userId'].unique())
ratings = get_predicted_ratings(raw_ratings, max_iterations=10)
ratings

215575.2462699197
208804.9560670217
202498.51798099163
196610.63134484066
191101.51644274403
185936.11967165925
181083.4510345969
176516.02881615108
172209.41166448637
168141.8024090963
164293.71110586412

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
1,10,6,2,9,4,3,10,4,10,6,...,2,10,0,10,6,10,9,5,7,5
2,10,10,7,0,9,5,10,4,10,3,...,10,10,10,10,7,5,6,4,10,7
3,3,4,10,0,10,0,2,9,10,6,...,5,0,1,0,0,7,8,3,3,0
4,10,4,0,10,4,5,5,3,0,0,...,10,8,3,10,10,0,0,0,8,9
5,9,0,3,5,0,6,4,4,5,5,...,4,4,10,2,10,9,10,6,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,9,4,5,5,0,9,10,1,6,3,...,0,6,6,10,9,5,4,10,7,9
607,7,10,0,5,6,0,6,9,10,10,...,4,7,0,5,4,6,9,8,0,5
608,4,10,10,2,10,8,1,9,6,3,...,10,9,6,4,0,9,10,3,1,5
609,10,0,2,0,0,10,4,0,0,0,...,2,10,6,10,10,9,9,6,10,2
610,10,2,7,7,1,10,7,8,0,5,...,10,10,8,1,4,3,5,3,5,4

In [3]:
movies

[1,
 3,
 6,
 47,
 50,
 70,
 101,
 110,
 151,
 157,
 163,
 216,
 223,
 231,
 235,
 260,
 296,
 316,
 333,
 349,
 356,
 362,
 367,
 423,
 441,
 457,
 480,
 500,
 527,
 543,
 552,
 553,
 590,
 592,
 593,
 596,
 608,
 648,
 661,
 673,
 733,
 736,
 780,
 804,
 919,
 923,
 940,
 943,
 954,
 1009,
 1023,
 1024,
 1025,
 1029,
 1030,
 1031,
 1032,
 1042,
 1049,
 1060,
 1073,
 1080,
 1089,
 1090,
 1092,
 1097,
 1127,
 1136,
 1196,
 1197,
 1198,
 1206,
 1208,
 1210,
 1213,
 1214,
 1219,
 1220,
 1222,
 1224,
 1226,
 1240,
 1256,
 1258,
 1265,
 1270,
 1275,
 1278,
 1282,
 1291,
 1298,
 1348,
 1377,
 1396,
 1408,
 1445,
 1473,
 1500,
 1517,
 1552,
 1573,
 1580,
 1587,
 1617,
 1620,
 1625,
 1644,
 1676,
 1732,
 1777,
 1793,
 1804,
 1805,
 1920,
 1927,
 1954,
 1967,
 2000,
 2005,
 2012,
 2018,
 2028,
 2033,
 2046,
 2048,
 2054,
 2058,
 2078,
 2090,
 2093,
 2094,
 2096,
 2099,
 2105,
 2115,
 2116,
 2137,
 2139,
 2141,
 2143,
 2161,
 2174,
 2193,
 2253,
 2268,
 2273,
 2291,
 2329,
 2338,
 2353,
 2366,
 2387,
 2389,
 2395,
 2406,
 2414,
 2427,
 2450,
 2459,
 2470,
 2478,
 2492,
 2502,
 2528,
 2529,
 2542,
 2571,
 2580,
 2596,
 2616,
 2617,
 2628,
 2640,
 2641,
 2644,
 2648,
 2654,
 2657,
 2692,
 2700,
 2716,
 2761,
 2797,
 2826,
 2858,
 2872,
 2899,
 2916,
 2944,
 2947,
 2948,
 2949,
 2959,
 2985,
 2987,
 2991,
 2993,
 2997,
 3033,
 3034,
 3052,
 3053,
 3062,
 3147,
 3168,
 3176,
 3243,
 3247,
 3253,
 3273,
 3386,
 3439,
 3440,
 3441,
 3448,
 3450,
 3479,
 3489,
 3527,
 3578,
 3617,
 3639,
 3671,
 3702,
 3703,
 3729,
 3740,
 3744,
 3793,
 3809,
 4006,
 5060,
 318,
 1704,
 6874,
 8798,
 46970,
 48516,
 58559,
 60756,
 68157,
 71535,
 74458,
 77455,
 79132,
 80489,
 80906,
 86345,
 89774,
 91529,
 91658,
 99114,
 106782,
 109487,
 112552,
 114060,
 115713,
 122882,
 131724,
 31,
 647,
 688,
 720,
 849,
 914,
 1093,
 1124,
 1263,
 1272,
 1302,
 1371,
 2080,
 2288,
 2424,
 2851,
 3024,
 3210,
 3949,
 4518,
 5048,
 5181,
 5746,
 5764,
 5919,
 6238,
 6835,
 7899,
 7991,
 26409,
 70946,
 72378,
 21,
 32,
 45,
 52,
 58,
 106,
 125,
 126,
 162,
 171,
 176,
 190,
 215,
 222,
 232,
 247,
 265,
 319,
 342,
 345,
 348,
 351,
 357,
 368,
 417,
 450,
 475,
 492,
 509,
 538,
 539,
 588,
 595,
 599,
 708,
 759,
 800,
 892,
 898,
 899,
 902,
 904,
 908,
 910,
 912,
 920,
 930,
 937,
 1046,
 1057,
 1077,
 1079,
 1084,
 1086,
 1094,
 1103,
 1179,
 1183,
 1188,
 1199,
 1203,
 1211,
 1225,
 1250,
 1259,
 1266,
 1279,
 1283,
 1288,
 1304,
 1391,
 1449,
 1466,
 1597,
 1641,
 1719,
 1733,
 1734,
 1834,
 1860,
 1883,
 1885,
 1892,
 1895,
 1907,
 1914,
 1916,
 1923,
 1947,
 1966,
 1968,
 2019,
 2076,
 2109,
 2145,
 2150,
 2186,
 2203,
 2204,
 2282,
 2324,
 2336,
 2351,
 2359,
 2390,
 2467,
 2583,
 2599,
 2683,
 2712,
 2762,
 2763,
 2770,
 2791,
 2843,
 2874,
 2921,
 2926,
 2973,
 3044,
 3060,
 3079,
 3083,
 3160,
 3175,
 3204,
 3255,
 3317,
 3358,
 3365,
 3408,
 3481,
 3508,
 3538,
 3591,
 3788,
 3851,
 3897,
 3911,
 3967,
 3996,
 4002,
 4014,
 4020,
 4021,
 4027,
 4029,
 4033,
 4034,
 4074,
 4121,
 4144,
 4166,
 4226,
 4239,
 4246,
 4252,
 4260,
 4273,
 4308,
 4347,
 4381,
 4641,
 4741,
 4765,
 4881,
 4896,
 4902,
 4967,
 34,
 36,
 39,
 150,
 153,
 253,
 261,
 266,
 290,
 300,
 344,
 364,
 380,
 410,
 474,
 515,
 531,
 534,
 589,
 594,
 597,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 15,
 16,
 17,
 19,
 22,
 24,
 25,
 26,
 27,
 41,
 43,
 46,
 54,
 60,
 61,
 62,
 65,
 66,
 76,
 79,
 86,
 87,
 88,
 89,
 92,
 93,
 95,
 100,
 102,
 104,
 105,
 112,
 113,
 135,
 140,
 141,
 145,
 146,
 158,
 159,
 160,
 161,
 165,
 168,
 170,
 174,
 177,
 179,
 180,
 181,
 185,
 186,
 189,
 191,
 195,
 196,
 201,
 204,
 205,
 207,
 208,
 209,
 210,
 212,
 217,
 218,
 219,
 224,
 225,
 230,
 234,
 236,
 237,
 239,
 240,
 243,
 248,
 250,
 251,
 252,
 254,
 256,
 257,
 258,
 262,
 267,
 270,
 271,
 273,
 274,
 276,
 277,
 279,
 281,
 282,
 288,
 289,
 291,
 292,
 293,
 302,
 303,
 304,
 310,
 312,
 313,
 314,
 315,
 317,
 327,
 329,
 330,
 332,
 336,
 337,
 339,
 340,
 343,
 347,
 350,
 352,
 353,
 354,
 355,
 358,
 359,
 360,
 361,
 366,
 370,
 371,
 374,
 377,
 378,
 381,
 382,
 383,
 405,
 412,
 415,
 416,
 419,
 426,
 432,
 434,
 435,
 437,
 440,
 445,
 454,
 455,
 458,
 460,
 466,
 468,
 469,
 472,
 477,
 485,
 489,
 490,
 491,
 493,
 494,
 497,
 502,
 505,
 508,
 510,
 516,
 520,
 524,
 532,
 536,
 537,
 540,
 542,
 546,
 548,
 569,
 575,
 587,
 606,
 609,
 616,
 628,
 631,
 637,
 640,
 662,
 667,
 694,
 697,
 700,
 704,
 709,
 710,
 711,
 719,
 747,
 762,
 765,
 775,
 783,
 795,
 799,
 801,
 802,
 818,
 830,
 835,
 837,
 838,
 839,
 842,
 848,
 852,
 867,
 880,
 881,
 888,
 891,
 979,
 981,
 986,
 991,
 996,
 999,
 1004,
 1006,
 1061,
 1064,
 1082,
 750,
 924,
 1101,
 1246,
 1584,
 1610,
 1682,
 1784,
 1917,
 2671,
 2688,
 2701,
 2717,
 3114,
 3354,
 3623,
 3869,
 3916,
 3977,
 3994,
 4018,
 4223,
 4306,
 4310,
 4370,
 4643,
 4700,
 4844,
 4874,
 4886,
 4963,
 4993,
 4995,
 5218,
 5349,
 5378,
 5445,
 5459,
 5464,
 5502,
 5618,
 5816,
 5952,
 5989,
 5991,
 6333,
 6365,
 6534,
 6539,
 6863,
 6934,
 7143,
 7153,
 7155,
 7445,
 8207,
 8360,
 8368,
 8373,
 8528,
 8636,
 8665,
 8666,
 8783,
 8808,
 8865,
 8870,
 8907,
 8908,
 8949,
 8957,
 8958,
 8961,
 8965,
 8970,
 8972,
 8984,
 27741,
 30812,
 30816,
 31878,
 32029,
 32031,
 32296,
 32587,
 33162,
 33493,
 33794,
 33836,
 34048,
 34319,
 37741,
 38388,
 42002,
 45499,
 45517,
 45668,
 45730,
 46530,
 48783,
 48997,
 49272,
 49278,
 49286,
 49824,
 586,
 187,
 627,
 922,
 1037,
 1095,
 1674,
 1987,
 2011,
 2023,
 2300,
 2877,
 2901,
 3173,
 3328,
 3735,
 4131,
 4558,
 5447,
 5451,
 5481,
 5507,
 5841,
 5843,
 5872,
 5890,
 5891,
 5893,
 5902,
 5956,
 5962,
 5965,
 5988,
 6001,
 6044,
 1028,
 1088,
 1247,
 1307,
 3882,
 4447,
 5066,
 5377,
 5620,
 5943,
 5957,
 6155,
 6266,
 6377,
 6535,
 6942,
 7149,
 7151,
 7154,
 7169,
 7293,
 7375,
 7451,
 7458,
 8529,
 8533,
 8869,
 8969,
 30749,
 31433,
 31685,
 33145,
 33679,
 40629,
 40819,
 41285,
 47099,
 51662,
 51705,
 51834,
 54286,
 56367,
 56949,
 58047,
 59333,
 59421,
 60397,
 60950,
 61250,
 63113,
 63992,
 64969,
 66203,
 68954,
 69406,
 69844,
 70183,
 70293,
 71579,
 72011,
 72330,
 72407,
 72720,
 72737,
 72998,
 73017,
 74450,
 77841,
 78772,
 79091,
 80549,
 81784,
 81845,
 81847,
 82167,
 82499,
 84374,
 86548,
 87222,
 88163,
 88810,
 91104,
 92259,
 94070,
 95167,
 95449,
 95510,
 95543,
 96079,
 97024,
 97938,
 98203,
 103335,
 103339,
 104374,
 105211,
 106489,
 106696,
 107141,
 109374,
 109853,
 112006,
 113275,
 113394,
 119145,
 129428,
 136020,
 137595,
 140110,
 44,
 376,
 511,
 529,
 1100,
 1358,
 1370,
 1385,
 1438,
 1518,
 1586,
 1604,
 1608,
 1616,
 1687,
 1693,
 1721,
 1840,
 1882,
 1918,
 2002,
 2027,
 1357,
 1405,
 1876,
 2072,
 2100,
 2421,
 2485,
 ...]

In [4]:
# wczytujemy nazwy filmow i kategorie

movies_metadata = pandas.read_csv('../ml-latest-small/movies.csv').set_index('movieId')
movies_metadata

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
# definiujemy testowe grupy uzytkownikow, dla ktorych bedziemy generowac rekomendacje

groups_no = 50
group_size = 5
groups = [sample(users, group_size) for i in range(groups_no)]
groups

[[217, 478, 495, 560, 216],
 [60, 477, 12, 446, 482],
 [420, 218, 589, 7, 539],
 [522, 578, 563, 204, 360],
 [542, 557, 313, 4, 406],
 [127, 61, 505, 417, 566],
 [290, 401, 575, 266, 256],
 [494, 557, 534, 199, 538],
 [469, 375, 563, 540, 321],
 [97, 164, 208, 601, 327],
 [233, 197, 196, 251, 520],
 [559, 181, 136, 56, 291],
 [149, 23, 255, 314, 36],
 [354, 87, 101, 334, 378],
 [313, 412, 42, 238, 6],
 [203, 544, 366, 426, 188],
 [374, 174, 19, 317, 181],
 [423, 392, 589, 128, 585],
 [105, 572, 407, 149, 476],
 [352, 588, 385, 369, 268],
 [309, 349, 418, 195, 112],
 [185, 365, 174, 510, 210],
 [46, 117, 331, 378, 292],
 [362, 328, 601, 43, 98],
 [595, 282, 35, 157, 34],
 [3, 217, 14, 269, 446],
 [169, 66, 556, 561, 153],
 [98, 48, 498, 61, 194],
 [295, 310, 333, 182, 495],
 [320, 275, 485, 15, 143],
 [265, 275, 219, 217, 413],
 [536, 248, 567, 468, 398],
 [449, 151, 562, 68, 474],
 [135, 257, 301, 490, 246],
 [260, 288, 558, 291, 522],
 [256, 127, 219, 267, 348],
 [30, 63, 589, 263, 306],
 [331, 568, 210, 132, 428],
 [204, 290, 601, 71, 544],
 [283, 552, 510, 363, 298],
 [251, 154, 521, 580, 608],
 [212, 381, 547, 487, 103],
 [178, 331, 379, 21, 312],
 [363, 335, 235, 217, 348],
 [431, 184, 155, 252, 27],
 [34, 189, 438, 481, 134],
 [370, 265, 274, 383, 409],
 [465, 85, 9, 579, 182],
 [96, 493, 518, 549, 375],
 [364, 155, 11, 72, 235]]

In [6]:
# przygotowujemy funkcje pomocnicza

def describe_group(group, N=10):
    print(f'\n\nUser ids: {group}')
    group_size = len(group)

    mean_stdev = ratings.iloc[group].std(axis=0).mean()
    median_stdev = ratings.iloc[group].std(axis=0).median()
    std_stdev = ratings.iloc[group].std(axis=0).std()
    print(f'\nMean ratings deviation: {mean_stdev}')
    print(f'Median ratings deviation: {median_stdev}')
    print(f'Standard deviation of ratings deviation: {std_stdev}')

    average_scores = ratings.iloc[group].mean(axis=0)
    average_scores = average_scores.sort_values()
    best_movies = [(movies_metadata['title'][movie_id], average_scores[movie_id]) for movie_id in
                   list(average_scores[-N:].index)]
    worst_movies = [(movies_metadata['title'][movie_id], average_scores[movie_id]) for movie_id in
                    list(average_scores[:N].index)]

    print('\nBest movies:')
    for movie, score in best_movies[::-1]:
        print(f'{movie}, {score}*')
    print('\nWorst movies:')
    for movie, score in worst_movies:
        print(f'{movie}, {score}*')


describe_group(groups[1])

User ids: [60, 477, 12, 446, 482]

Mean ratings deviation: 3.8770500141539115
Median ratings deviation: 3.9749213828703582
Standard deviation of ratings deviation: 0.8233099037052277

Best movies:
It Runs in the Family (2003), 9.2*
Mansfield Park (1999), 9.2*
Josie and the Pussycats (2001), 9.2*
8MM (1999), 9.0*
Big Stan (2007), 9.0*
Some Mother's Son (1996), 8.8*
The Golden Voyage of Sinbad (1973), 8.8*
Anne of the Thousand Days (1969), 8.8*
Paper Chase, The (1973), 8.6*
Legally Blonde (2001), 8.6*

Worst movies:
Lions For Lambs (2007), 2.2*
Davy Crockett, King of the Wild Frontier (1955), 2.4*
Newsies (1992), 2.4*
Northmen - A Viking Saga (2014), 2.4*
Halloween 5: The Revenge of Michael Myers (1989), 2.6*
Girl with a Pearl Earring (2003), 2.6*
Above the Rim (1994), 2.6*
Men in Black III (M.III.B.) (M.I.B.³) (2012), 2.6*
Canadian Bacon (1995), 2.6*
Miracle (2004), 2.6*

In [7]:
'a   b'.split()

['a', 'b']

## Część 2. - algorytmy proste

In [8]:
# zdefiniujmy interfejs dla wszystkich algorytmow rekomendacyjnych

class Recommender:
    def recommend(self, movies, ratings, group, size):
        pass


# jako pierwszy zaimplementujemy algorytm losowy - dla porownania

class RandomRecommender(Recommender):
    def __init__(self):
        self.name = 'random'

    def recommend(self, movies, ratings, group, size):
        return sample(movies, size)

In [9]:
# algorytm rekomendujacy filmy o najwyzszej sredniej ocen

class AverageRecommender(Recommender):
    def __init__(self):
        self.name = 'average'

    def recommend(self, movies, ratings, group, size):
        group_ratings = ratings.filter(items=group, axis=0)
        return list(group_ratings.mean().sort_values(ascending=False).iloc[:size].index)

In [10]:
# algorytm rekomendujacy filmy o najwyzszej sredniej ocen,
#   ale rownoczesnie wykluczajacy te filmy, ktore otrzymaly choc jedna ocene ponizej thresholdu

class AverageWithoutMiseryRecommender(Recommender):
    def __init__(self, score_threshold):
        self.name = 'average_without_misery'
        self.score_threshold = score_threshold

    def recommend(self, movies, ratings, group, size):
        group_ratings = ratings.filter(items=group, axis=0)
        excluded_movies_filter = group_ratings < self.score_threshold
        included_movies_filter = excluded_movies_filter.sum() == 0
        included_movies = included_movies_filter[included_movies_filter].index
        ratings_included_movies = ratings[included_movies]
        return list(ratings_included_movies.mean().sort_values(ascending=False).iloc[:size].index)

In [11]:
# algorytm uwzgledniajacy preferencje tylko jednego uzytkownika w kazdej iteracji

class FairnessRecommender(Recommender):
    def __init__(self):
        self.name = 'fairness'

    def recommend(self, movies, ratings, group, size):
        selected_movies = set()
        best_users_movies = [ratings.loc[user].sort_values(ascending=False) for user in group]
        round = -1
        step = 0
        while len(selected_movies) < size:
            user_id = step % len(group)
            if user_id == 0:
                round += 1
            movie = best_users_movies[user_id].index[round]
            if movie not in selected_movies:
                selected_movies.add(movie)
            step += 1
        return list(selected_movies)

In [12]:
# wybrany algorytm wyborczy

class VotingRecommender(Recommender):
    def __init__(self, treshold):
        self.name = "simple voting"  # nazwa wybranego algorytmu
        self.score_threshold = treshold

    def recommend(self, movies, ratings, group, size):
        group_ratings = ratings.filter(items=group, axis=0)
        group_ratings = group_ratings > self.score_threshold
        return list(group_ratings.sum().sort_values(ascending=False).iloc[:size].index)

In [13]:
# algorytm zachlanny, aproksymujacy metode Proportional Approval Voting
#   w kazdej iteracji wybieramy ten film, ktory najbardziej zwieksza zadowolenie zgodnie z punktacja PAV

class PAVRecommender(Recommender):
    def __init__(self, threshold):
        self.threshold = threshold
        self.name = 'PAV'

    def recommend(self, movies, ratings, group, size):
        group_ratings = ratings.filter(items=group, axis=0)
        group_ratings = group_ratings > self.threshold
        group_ratings = group_ratings.astype("float")
        recommender_weight_divisor = {user_id: 1 for user_id in group}
        selected_movies = set()
        for i in range(size):
            new_movie = group_ratings.sum().idxmax()
            recommenders = group_ratings[new_movie] > 0
            recommenders = list(recommenders[recommenders].index)

            group_ratings[new_movie] = 0.0
            for recommender in recommenders:
                group_ratings.loc[recommender] = group_ratings.loc[recommender] * recommender_weight_divisor[
                    recommender] / (recommender_weight_divisor[recommender] + 1)
                recommender_weight_divisor[recommender] += 1

            selected_movies.add(new_movie)
        return list(selected_movies)

## Część 3. - funkcje celu

In [14]:
# dwie funkcje pomocnicze:
#  - znajdujaca ulubione filmy danego uzytkownika
#  - obliczajaca sume ocen wystawionych przez uzytkownika wszystkim filmom w rekomendacji

def top_n_movies_for_user(ratings, movies, user_id, n):
    return ratings.loc[user_id].sort_values(ascending=False).iloc[:n].index


def total_score(recommendation, user_id, ratings):
    return ratings.loc[user_id][recommendation].sum()

In [15]:
# funkcja obliczajaca zadowolenie pojedynczego uzytkownika
#  - iloraz zadowolenia z wygenerowanej rekomendacji oraz zadowolenia z hipotetycznej rekomendacji idealnej
def overall_user_satisfaction(recommendation, user_id, movies, ratings):
    group_list_sat = total_score(recommendation, user_id, ratings)
    user_list_sat = total_score(list(top_n_movies_for_user(ratings, movies, user_id, len(recommendation))), user_id,
                                ratings)
    return group_list_sat / user_list_sat


# funkcja celu - srednia z zadowolenia wszystkich uzytkownikow w grupie
def overall_group_satisfaction(recommendation, group, movies, ratings):
    return 1.0 * sum([overall_user_satisfaction(recommendation, user_id, movies, ratings) for user_id in group]) / len(
        group)


# funkcja celu - roznica miedzy maksymalnym i minimalnym zadowolenie w grupie
def group_disagreement(recommendation, group, movies, ratings):
    sat_scores = [overall_user_satisfaction(recommendation, user_id, movies, ratings) for user_id in group]
    return max(sat_scores) - min(sat_scores)

## Część 4. - Sequential Hybrid Aggregation

In [16]:
# algorytm balansujacy pomiedzy wyborem elementow o najwyzszej sredniej ocen
#   i o najwyzszej minimalnej ocenie
#   wyliczajacy w kazdej iteracji parametr alfa - jak na wykladzie
class SequentialHybridAggregationRecommender(Recommender):
    def __init__(self):
        self.name = 'sequential_hybrid_aggregation'

    def recommend(self, movies, ratings, group, size):
        selected_movies = set()
        group_ratings = ratings.filter(items=group, axis=0)
        alpha = 0.5
        avg_scores = group_ratings.mean()
        least_scores = ratings.min()
        for i in range(size):
            scores = (1 - alpha) * avg_scores + alpha * least_scores
            new_movie = scores.idxmax()
            selected_movies.add(new_movie)
            avg_scores[new_movie] = 0
            least_scores[new_movie] = 0
            alpha = group_disagreement([movies[i - 1]], group, movies, ratings)
        return list(selected_movies)

## Część 5. - porównanie algorytmów

In [18]:
recommenders = [
    RandomRecommender(),
    AverageRecommender(),
    AverageWithoutMiseryRecommender(5),
    FairnessRecommender(),
    VotingRecommender(5),
    PAVRecommender(5),
    SequentialHybridAggregationRecommender()
]

recommendation_size = 10

# dla kazdego algorytmu:
#  - wygenerujmy jedna rekomendacje dla kazdej grupy
#  - obliczmy wartosci funkcji celu dla kazdej rekomendacji
#  - obliczmy srednia i odchylenie standardowe wartosci funkcji celu
#  - wypiszmy wyniki na konsole

table = []
for recommender in recommenders:
    satisfactions = []
    disagreements = []
    for group in groups:
        recommendation = recommender.recommend(movies, ratings, group, recommendation_size)
        satisfactions.append(overall_group_satisfaction(recommendation, group, movies, ratings))
        disagreements.append(group_disagreement(recommendation, group, movies, ratings))
    table.append(
        [recommender.name, mean(satisfactions), stdev(satisfactions), mean(disagreements), stdev(disagreements)])
print(tabulate(table, headers=["recommender", "satisfaction-mean", "satisfaction-std", "disagreement-mean",
                               "disagreement-mean"]))

recommender                      satisfaction-mean    satisfaction-std    disagreement-mean    disagreement-mean
-----------------------------  -------------------  ------------------  -------------------  -------------------
random                                    0.56108            0.0546547             0.2692              0.105072
average                                   0.98784            0.0203313             0.0222              0.0340042
average_without_misery                    0.80412            0.0413909             0.223               0.0750306
fairness                                  0.64748            0.0516405             0.2478              0.0852437
simple voting                             0.86764            0.0269442             0.1228              0.0533008
PAV                                       0.86816            0.0256056             0.1184              0.0468763
sequential_hybrid_aggregation             0.927984           0.0322147             0.131625            0.0654803